.card.text-center
  .card-header Bootstrap 4 card example #{name}
  .card-body
    .card-title Hello World, this is PugHtml
    i.fa.fa-home.fa-2x.text-primary
  .card-footer.text-muted powered by Bibooki
  a(href="/users") Users

img(src="/images/hinh2.jpg")