extends ../layouts/common
block content
  h1 Cart
  .d-flex.align-items-center
  table.table
    tr
      th Avatar
      th Product Name
      th Quantity
      th action
    each val, index in carts
      tr 
        td
          //img(src=user.avatar, width="64")
        td= index
        td= val.cart
        td
          a(href='#', class="btn btn-light") Delete